<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibrocorp.onlinestore">


    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
     <!-- this was to use (or fix) the elegant number counter dependency problem
      <meta-data tools:replace="android:theme"
            android:name="com.google.android.gms.version"/>   -->

<!-- the "android:windowSoftInputMode="stateHidden" thing will help to stop the automatic popup of the keyboard-->
        <activity android:name=".MainActivity" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductDetail" android:label="@string/app_name">

        </activity>
        <activity android:name=".CartItem" android:label="@string/app_name"/>
    </application>

</manifest>